@{ Layout.Title = T("Facebook Suite Settings").ToString(); }
@model Piedone.Facebook.Suite.Models.FacebookSuiteSettingsPart
<fieldset>
    <legend>@T("Facebook App Settings")</legend><span class="hint">@T("If set, Facebook Suite features will behave as part of the app.")</span>
    <ol>
        <li>
            @Html.LabelFor(model => model.AppId, T("App ID"))
            @Html.TextBoxFor(model => model.AppId, new { @class = "text singleline" })
            @Html.ValidationMessageFor(model => model.AppId)
        </li>
        <li>
            @Html.LabelFor(model => model.AppSecret, T("App Secret"))
            @Html.TextBoxFor(model => model.AppSecret, new { @class = "text singleline" })
            @Html.ValidationMessageFor(model => model.AppSecret)
        </li>
    </ol>
</fieldset>
