<div class="fb-like" data-send="@Model.EnableSendButton" data-layout="@Model.LayoutStyle" data-width="@Model.Width" data-show-faces="@Model.ShowFace" data-action="@Model.VerbToDisplay" data-colorscheme="@Model.ColorScheme" data-font="@Model.Font">
</div>
