<div class="fb-like-box" data-href="@Model.PageUrl" data-width="@Model.Width" data-colorscheme="@Model.ColorScheme" data-show-faces="@Model.ShowFaces" data-border-color="@Model.BorderColor" data-stream="@Model.ShowStream" data-header="@Model.ShowHeader">
</div>
