@model Piedone.Facebook.Suite.Models.FacebookLikeButtonPart
<fieldset>
    <legend>@T("Facebook Like Button Widget Settings")</legend>
    <ol>
        <li>
            @Html.EditorFor(m => m.EnableSendButton)
            <label for="@Html.FieldIdFor(m => m.EnableSendButton)" class="forcheckbox">@T("Enable send button")</label>
            @Html.ValidationMessageFor(m => m.EnableSendButton)
        </li>
        <li>
            @Html.LabelFor(m => m.LayoutStyle, T("Layout style"))
            @Html.DropDownListFor(m => m.LayoutStyle,
            new SelectList(new[] { 
                new SelectListItem { Text = "standard", Value = "standard" }, 
                new SelectListItem { Text = "button_count", Value = "button_count" }, 
                new SelectListItem { Text = "box_count", Value = "box_count" } 
            }, "Text", "Value"))
            @Html.ValidationMessageFor(m => m.LayoutStyle)
        </li>
        <li>
            @Display.WidthEditor(Value: Model.Width)
        </li>
        <li>
            @Html.EditorFor(m => m.ShowFaces)
            <label for="@Html.FieldIdFor(m => m.ShowFaces)" class="forcheckbox">@T("Show faces")</label>
            @Html.ValidationMessageFor(m => m.ShowFaces)
        </li>
        <li>
            @Html.LabelFor(m => m.VerbToDisplay, T("Verb to display"))
            @Html.DropDownListFor(m => m.VerbToDisplay, new SelectList(new[] { new SelectListItem { Text = "like", Value = "like" }, new SelectListItem { Text = "recommend", Value = "recommend" } }, "Text", "Value"))
            @Html.ValidationMessageFor(m => m.VerbToDisplay)
        </li>
        <li>
            @Display.ColorSchemeSelector(Selected: Model.ColorScheme)
        </li>
        <li>
            @Html.LabelFor(m => m.Font, T("Font"))
            @Html.DropDownListFor(m => m.Font,
            new SelectList(new[] { 
                new SelectListItem { Value = "Arial", Text = "arial" }, 
                new SelectListItem { Value = "Lucida Grande", Text = "lucida grande" }, 
                new SelectListItem { Value = "Segoe Ui", Text = "segoe ui" }, 
                new SelectListItem { Value = "Tahoma", Text = "tahoma" }, 
                new SelectListItem { Value = "Trebuchet MS", Text = "trebuchet ms" }, 
                new SelectListItem { Value = "Verdana", Text = "verdana" } 
            }, "Text", "Value"))
            @Html.ValidationMessageFor(m => m.Font)
        </li>
    </ol>
</fieldset>
