@model Piedone.Facebook.Suite.Models.FacebookFacepilePart
<fieldset>
    <legend>@T("Facebook Facepile Widget Settings")</legend>
    <ol>
        <li>
            @Display.WidthEditor(Value: Model.Width)
        </li>
        <li>
            @Display.ColorSchemeSelector(Selected: Model.ColorScheme)
        </li>
        <li>
            @Html.LabelFor(model => model.MaxRows, T("Max rows"))
            @Html.TextBoxFor(model => model.MaxRows, new { @class = "text small" })
            @Html.ValidationMessageFor(model => model.MaxRows)
        </li>
        <li>
            @Html.LabelFor(model => model.Size, T("Size"))
            @Html.DropDownListFor(model => model.Size, new SelectList(new[] { new SelectListItem { Text = "small", Value = "small" }, new SelectListItem { Text = "large", Value = "large" } }, "Text", "Value"))
            @Html.ValidationMessageFor(model => model.Size)
        </li>
    </ol>
</fieldset>