@model Piedone.Facebook.Suite.Models.FacebookCommentsBoxPart
<fieldset>
    <legend>@T("Facebook Comments Box Widget Settings")</legend>
    <ol>
        <li>
            @Html.LabelFor(model => model.NumberOfPosts, T("Number of posts"))
            @Html.TextBoxFor(model => model.NumberOfPosts, new { @class = "text small" })
            @Html.ValidationMessageFor(model => model.NumberOfPosts)
        </li>
        <li>
            @Display.WidthEditor(Value: Model.Width)
        </li>
        <li>
            @Display.ColorSchemeSelector(Selected: Model.ColorScheme)
        </li>
    </ol>
</fieldset>