@model Piedone.Facebook.Suite.Models.FacebookLikeButtonPart
<fieldset>
    <legend>@T("Facebook Like Button Widget Settings")</legend>
    <ol>
        <li>
            @Html.EditorFor(m => m.EnableSendButton)
            <label for="@Html.FieldIdFor(m => m.EnableSendButton)" class="forcheckbox">@T("Enable send button")</label>
            @Html.ValidationMessageFor(m => m.EnableSendButton)
        </li>
        <li>
            @Html.LabelFor(m => m.LayoutStyle, T("Layout style"))
            @Html.DropDownListFor(m => m.LayoutStyle,
            new SelectList(new[] { 
                new SelectListItem { Text = "standard", Value = "standard" }, 
                new SelectListItem { Text = "button_count", Value = "button_count" }, 
                new SelectListItem { Text = "box_count", Value = "box_count" } 
            }, "Value", "Text"))
            @Html.ValidationMessageFor(m => m.LayoutStyle)
        </li>
        <li>
            @Display.WidthEditor(Value: Model.Width)
        </li>
        <li>
            @Html.EditorFor(m => m.ShowFaces)
            <label for="@Html.FieldIdFor(m => m.ShowFaces)" class="forcheckbox">@T("Show faces")</label>
            @Html.ValidationMessageFor(m => m.ShowFaces)
        </li>
        <li>
            @Html.LabelFor(m => m.VerbToDisplay, T("Verb to display"))
            @Html.DropDownListFor(m => m.VerbToDisplay, new SelectList(new[] { new SelectListItem { Text = "like", Value = "like" }, new SelectListItem { Text = "recommend", Value = "recommend" } }, "Value", "Text"))
            @Html.ValidationMessageFor(m => m.VerbToDisplay)
        </li>
        <li>
            @Display.ColorSchemeSelector(Selected: Model.ColorScheme)
        </li>
        <li>
            @Html.LabelFor(m => m.Font, T("Font"))
            @Html.DropDownListFor(m => m.Font,
                new SelectList(new[] { 
                    new SelectListItem { Text = "Arial", Value = "arial" }, 
                    new SelectListItem { Text = "Lucida Grande", Value = "lucida grande" }, 
                    new SelectListItem { Text = "Segoe Ui", Value = "segoe ui" }, 
                    new SelectListItem { Text = "Tahoma", Value = "tahoma" }, 
                    new SelectListItem { Text = "Trebuchet MS", Value = "trebuchet ms" }, 
                    new SelectListItem { Text = "Verdana", Value = "verdana" } 
                }, "Value", "Text"))
            @Html.ValidationMessageFor(m => m.Font)
        </li>
    </ol>
</fieldset>
